/* BODY */
/* FONTS */
/* COLORS */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* LOADER */
.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: #f6f6f6;
  -webkit-animation: loading-end 3s ease-in-out;
          animation: loading-end 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader p {
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  margin-top: 0;
}

.loader i {
  font-size: 6rem;
  color: black;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
  color: #a16be0;
  text-shadow: 0 1px 0 #9356DC, 0 2px 0 #8641d8, 0 3px 0 #782cd3, 0 4px 0 #6c27be, 0 5px 0 #6023a9, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes loading-end {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  79% {
    background-color: #f6f6f6;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: transparent;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: transparent;
  }
}

@keyframes loading-end {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  79% {
    background-color: #f6f6f6;
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: transparent;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: transparent;
  }
}

/* HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .logo {
  width: 164px;
}

/* MAIN */
/* LOCATION */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), color-stop(6%, #eaeaea), to(#eaeaea));
  background: linear-gradient(180deg, #cfcfcf 0%, #eaeaea 6%, #eaeaea 100%);
  padding: 15px 0;
  color: #353535;
}

.location p {
  margin: 0 15px;
  font-weight: 600;
}

/* DISCOVER */
.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 30px 0px 50px 0px;
}

.discover .button {
  text-decoration: none;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 5px 5px #d1cece;
          box-shadow: 0 5px 5px #d1cece;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.discover .button:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#985ede), to(#ff83dd));
  background: linear-gradient(to top left, #985ede, #ff83dd);
  -webkit-box-shadow: 0 5px 5px #b8b4b4;
          box-shadow: 0 5px 5px #b8b4b4;
}

.discover .button {
  padding: 15px 22px;
  width: 176px;
}

.discover__heading {
  margin: 0;
  padding: 0 60px;
}

.discover__sub-heading {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 15px 20px 30px 20px;
}

/* OPERATION */
.operation {
  margin: 0 15px 65px 15px;
}

.operation h1 {
  font-size: 1.4rem;
  margin: 50px 0 30px 0;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 10px;
  padding: 25px 0;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 15px #e5e5e5;
          box-shadow: 0px 5px 15px #e5e5e5;
}

.step:hover {
  background-color: #f5edff;
  cursor: pointer;
}

.step:hover i {
  color: #9356DC;
}

.step__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  margin-left: -12px;
  font-size: 0.8rem;
}

.step .fas {
  margin: 0 25px 0 33px;
  color: #7e7e7e;
}

.step .fas--color {
  color: #9356DC;
}

.step__info {
  margin: 0;
  font-weight: bold;
}

/* RESTAURANTS */
.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6;
}

.restaurant-card {
  background-color: white;
  margin-bottom: 18px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 0px 20px #e5e5e5;
          box-shadow: 0px 0px 20px #e5e5e5;
}

.restaurant-card__new {
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-weight: 500;
  font-size: 0.8rem;
}

.restaurant-card__pic {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 62%;
     object-position: 50% 62%;
}

.restaurant-card-sub {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name heart" "location heart";
  -ms-grid-rows: auto 20.8px;
      grid-template-rows: auto 20.8px;
  -ms-grid-columns: auto 20.8px;
      grid-template-columns: auto 20.8px;
  padding: 10px 24px 15px 12px;
}

.restaurant-card-sub__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  margin: 0 0 5px 0;
  font-size: 1.15rem;
  font-weight: 800;
}

.restaurant-card-sub__location {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: location;
  margin: 0;
  font-size: 1rem;
}

.restaurant-card-sub__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: heart;
  cursor: pointer;
  font-size: 1.3rem;
  -webkit-mask-image: url(../images/icon/heart-solid.svg);
          mask-image: url(../images/icon/heart-solid.svg);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, white), color-stop(50%, #9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, white 0%, white 50%, #9356DC 50%, #FF79DA 100%);
  background-size: 100% 200%;
  background-position: right top;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.restaurant-card-sub__heart:hover {
  background-position: right bottom;
  color: transparent;
}

/* FOOTER */
footer {
  background-color: #353535;
  padding: 25px;
}

footer .logo {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer i {
  color: white;
  width: 25px;
  font-size: 0.75rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

/* MEDIA QUERIES */
/* TABLET */
@media (min-width: 768px) {
  /* OPERATION */
  .operation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .operation h1 {
    width: 100%;
    text-align: center;
  }
  .operation .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
  }
  .operation .step__number {
    top: 0;
    margin: -12px 0 0 0;
  }
  .operation .step .fas {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  /* RESTAURANTS */
  .restaurants h1 {
    margin-top: 0;
  }
  .restaurant-card__pic {
    height: 300px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  /* DISCOVER */
  .discover {
    padding: 20px 0 0 0;
  }
  /* OPERATION */
  .operation {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0 20px 20px 20px;
  }
  .operation .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
    padding: 5px;
  }
  .operation .step:hover {
    background-color: #f5edff;
  }
  .operation .step__number {
    margin: 0;
    left: 0;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 100%;
    font-size: 1rem;
  }
  .operation .step__info {
    padding-left: 25px;
  }
  .operation .step i {
    padding-left: 75px;
  }
  /* RESTAURANTS */
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    padding: 20px;
  }
  .restaurants h1 {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .restaurant-card {
    width: 23%;
    -webkit-box-shadow: 0px 0px 20px #e5e5e5;
            box-shadow: 0px 0px 20px #e5e5e5;
  }
  .restaurant-card__pic {
    height: 200px;
  }
  /* FOOTER */
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    padding: 25px 0;
  }
}
/*# sourceMappingURL=index.css.map */